<div class="contactDetails">
    <h4><b>CONTACT US</b></h4>
<!-- <img class="contact" src="images/contact.png" alt="contact"> -->
     <br><br>
   
      <h2>XLAYER MOVIE TEAM</h2>
      <p class="flexSpan">
        <span>IT BHAWAN, 5th floor</span>
        
        <span>Tripura, India</span> <br>
        <span class="flex">
            <span>
                <img src="images/telefax.png" alt="call" class="icon"/>
              </span>
          <span><b>Tel Fax:</b></span>
          <span>+91 9366876540</span>
        </span> <br>
        <span class="flex">
            <span>
                <img src="images/call.png" alt="call" class="icon"/>
              </span>
          <span><b>Phone No:</b></span>
          <span>+91 9867843210</span>
        </span><br>
        <span class="flex">
            <span>
                <img src="images/email.png" alt="call" class="icon"/>
              </span>
          <span><b>Email:</b></span>
          <span>xlayerMoviesTeam&#64;gmail.com </span>
        </span>
      </p>
   <div>
    <h3>Registered Ofiice:</h3>
    <p class="flexSpan">
      <span>301, Vasthav Residency, 6th Cross, 4th A Main, Bilekahalli, NS Palaya, Bangalore India. PIN - 560076</span>
    </p>
   </div>

    <div><br><br><br>
      <h3>Office at Tripura</h3>
      <p class="flexSpan">
        <span> 5th Floor, IT Bhavan Agartala, Tripura 799006 </span><br>
        <span class="flex">
          <span>
            <img src="images/call.png" alt="call" class="icon"/>
          </span>
          <span>+91 9233107174</span><br>
          <span>
            <img src="images/email.png" alt="call" class="icon"/>
          </span>
        <span>contact&#64;xlayer.in</span>
        </span>
<br>

<a href="https://goo.gl/maps/WfBRaGviE2AtanGDA" data-original-title="" title="" target="_blank" style="color: white;"><i class="fa fa-fw fa-map" data-original-title="" title="" aria-describedby="tooltip639448" style="text-decoration-line: underline; color: rgb(140, 123, 198) !important;"></i><span style="color: rgb(33, 37, 41); color: white;" data-original-title="" title="" aria-describedby="tooltip950643">&nbsp; &nbsp; </span>Directions</a>


</div>
<section class="s_map pt56 pb256" data-map-type="m" data-map-zoom="14" data-snippet="s_map" data-map-address="xLayer Technologies, 5th floor, DIT Park, ITI Road, Indra Nagar Agartala Tripura (IN) India" data-name="Map">
  <div class="map_container o_not_editable">
    <div class="css_non_editable_mode_hidden">
      <div class="missing_option_warning alert alert-info rounded-0 fade show d-none d-print-none o_default_snippet_text">
      An address must be specified for a map to be embedded
  </div>
    </div>
    <iframe class="s_map_embedded o_not_editable" width="100%" height="100%" src="https://maps.google.com/maps?q=xLayer%20Technologies%2C%205th%20floor%2C%20DIT%20Park%2C%20ITI%20Road%2C%20Indra%20Nagar%20Agartala%20Tripura%20(IN)%20India&amp;t=m&amp;z=14&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="height: 50vh;"></iframe>
    <div class="s_map_color_filter"></div>
  </div>
</section>