<div class="contactDetails">
    <h4><b>CONTACT US</b></h4>
<img class="contact" src="images/contact.png" alt="contact">
     <br><br>
      <h2>XLAYER MOVIE TEAM</h2>
      <p class="flexSpan">
        <span>IT BHAWAN, 5th floor</span>
        
        <span>Tripura, India</span> <br>
        <span class="flex">
            <span>
                <img src="images/telefax.png" alt="call" class="icon"/>
              </span>
          <span><b>Tel Fax:</b></span>
          <span>+91 9366876540</span>
        </span> <br>
        <span class="flex">
            <span>
                <img src="images/call.png" alt="call" class="icon"/>
              </span>
          <span><b>Phone No:</b></span>
          <span>+91 9867843210</span>
        </span><br>
        <span class="flex">
            <span>
                <img src="images/email.png" alt="call" class="icon"/>
              </span>
          <span><b>Email:</b></span>
          <span>xlayerMoviesTeam&#64;gmail.com </span>
        </span>
      </p>
   

    <div><br><br><br>
      <h3>Office at Tripura</h3>
      <p class="flexSpan">
        <span> 5th Floor, IT Bhavan Agartala, Tripura 799006 </span><br>
        <span class="flex">
          <span>
            <img src="images/call.png" alt="call" class="icon"/>
          </span>
          <span>+91 9233107174</span><br>
          <span>
            <img src="images/email.png" alt="call" class="icon"/>
          </span>
        <span>contact&#64;xlayer.in</span>
        </span>
<br>
      
</div>