*{
    background-color: rgb(127, 219, 255);
}
img{
    width: 40px;
    
}
.contactDetails{
    background-color: rgb(140, 104, 207);
    color: #fff;
}
.contact{
    width: 40%;  
    margin-left: 350px;
}
.xlayer{
    img{
        width: 30%;
      
    }
}
.flexSpan{
    margin-left: 450px;
}
h2{
    margin-left: 380px;
}
h4{
    margin-left: 480px;
}
h3{
    margin-left: 380px;
    font-size: 60px;
}