.example-container {
    height: 100vh;
    // background-color: black;
    margin-top: 10px;
    // position: absolute;
  }
  
  mat-sidenav {
    width: 250px;
  
   
  }

  mat-sidenav-content {
    padding: 20px;
  
  }
  