

  <form #loginForm="ngForm"> 
    <form (ngSubmit)="login()">
    <h1>Login</h1>
    <h6>Please enter email & password !!</h6>
    
      <mat-dialog-actions>
     
        <div *ngIf="loginError" class="error-message">{{ loginError }}</div>
        <div>
          <label for="username">Library_ID* :</label>
          <input type="text" id="username" name="username" [(ngModel)]="library_id" required>
        </div><br>
        <div>
          <label for="password">Password* :</label>
          <input type="password" id="password" name="password" [(ngModel)]="password" required>
        </div><br>
        <div>
         
        </div>
       
          <button type="submit">Login</button> <br>
            <button (click)="signup()">Not Registered? Click to SignUp</button>
<br>  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
    </form>
</form>