// signup.component.scss

// Center the form vertically and horizontally
// :host {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//   }
  
//   // Style the form fields and button
//   form {
//     max-width: 300px;
//     width: 100%;
//     padding: 20px;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//     border-radius: 5px;
  
//     mat-form-field {
//       width: 100%;
//       margin-bottom: 20px;
//     }
  
//     button {
//       width: 100%;
//     }
//   }
.card{
  // margin-top: 1px;
  border: none;
  width: 500px;
  padding-top : 1px;
  position: absolute;
  top: 0%;
  bottom: 60%;
  left: 50%;
  transform: translate(-50%,50%);
  background: hsla(205, 55%, 36%, 1%);
  background: linear-gradient(90deg,hsla(205, 63%, 45%, 0.01) 0%, hsla(205, 63%, 39%, 0.01) 100%);

}
// .form-control {
//   display: block;
// }
.text-center {
  display: flex;
  
  img{
      width: 100%;
  }
  .loginForm {
      width: 100%;
  }
}
