
.card{
  border: none;
  width: 500px;
  position: relative;
  bottom: 30%;
  left: 90%;
  margin-bottom: 200px;
  transform: translate(-50%,50%);
  background: hsla(205, 55%, 36%, 1%);
  background: linear-gradient(90deg,hsla(205, 63%, 45%, 0.01) 0%, hsla(205, 63%, 39%, 0.01) 100%);

}

.text-center {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  
  .loginForm {
      width: 100%;
  }
}
img{
  width: 100%;
  position:relative;
  margin-right: 300px;
  margin-left: 10px;
  margin-bottom: 10px;
}
