<app-movie-booking-v2 (bookingConfirmed)="onBookingConfirmed($event)"></app-movie-booking-v2>

<div *ngIf="seatsSelected.length > 0">
  <h3>Selected Seats:</h3>
  <ul>
    <li *ngFor="let seat of seatsSelected">{{ seat }}</li>
  </ul>
  <p *ngIf="selectedDate">Selected Date: {{ selectedDate | date }}</p>
  <p *ngIf="selectedTime">Selected Time: {{ selectedTime }}</p>
  <p *ngIf="selectedScreen">Selected Screen: {{ selectedScreen }}</p>
  <p>Total Amount: Rs.{{ totalAmount }}</p>
  <button (click)="proceedToPayment()">Proceed to Payment</button> <br> <br><br>
</div>
