.example-container {
  width: auto;
  height: 100vh;
  margin: 10px;


  background: #eee;
  .firstDrawer {
       width: 20%;
  }

  .secondDrawer {
  
     .secondDrawerSub1 {
      
      
      table {
          width: 100%;
          height: 100vh;
        }
        
        .mat-mdc-form-field {
          font-size: 14px;
          width: 100%;
        }
     }
  }
  
}