
<h4 mat-dialog-title> Confirm Booking</h4>
<mat-dialog-content>
  <h6><b>Selected Seats:</b></h6>
  <ul>
    <b><li *ngFor="let seat of data.seats">{{ seat }}</li></b>
  </ul>
   <b> <p *ngIf="selectedDate">Selected Date: {{ selectedDate | date }}</p></b>
  <b> <p *ngIf="selectedTime">Selected Time: {{ selectedTime }}</p></b>
  <b><p *ngIf="selectedScreen">Selected Screen: {{ selectedScreen }}</p></b>
  <h6><b>Total Amount: Rs.{{ data.totalAmount }}</b></h6>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="confirmBooking()">Pay</button>
  <button mat-button (click)="cancelBooking()">Cancel</button>
</mat-dialog-actions>
