<h1>Now Playing</h1>
<section class="flex">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Chandu Champion</mat-card-title>
      <mat-card-subtitle>Genre : Hindi</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <img
        class="imagDiv"
        mat-card-image
        src="images/chandu champion.png"
        alt="Photo of chandu champion"
      />
      <p class="paragraphMovie">
        <br /><br /><br /><br /><br />
        Overview:- <br />
        The film is based on the extraordinary story of an athlete who never
        gave up.
      </p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Bad Boys: Ride Or Die</mat-card-title>
      <mat-card-subtitle>Genre: English</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <img
        class="imagDiv"
        mat-card-image
        src="images/badboys.jpg"
        alt="Photo of badboys"
      />
      <p class="paragraphMovie">
        Overview:- <br />
        When their late police captain gets linked to drug cartels, wisecracking
        Miami cops Mike Lowrey and Marcus Burnett embark on a dangerous mission
        to clear his name.
      </p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Munjya</mat-card-title>
      <mat-card-subtitle>Genre: Hindi, Horror,comedy</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <img
        class="imagDiv"
        mat-card-image
        src="images/munjya.jpg"
        alt="Photo of Munjya"
      />
      <p class="paragraphMovie">
        <br /><br />
        Overview :- <br />
        A young man's visit to his native village unveils a family secret and a
        vengeful spirit, the Munjya, who wants to get married. Now the young man
        must fight to protect himself and his love from Munjya's clutches.
      </p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Mr & Mrs Mahi</mat-card-title>
      <mat-card-subtitle>Genre : Hindi</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <img
        class="imagDiv"
        mat-card-image
        src="images/mr mahi.jpg"
        alt="Photo of mr mahi"
      />
      <p class="paragraphMovie">
        <br /><br />
        Overview:- <br />
        A married couple who share a love for cricket begin training in the game
        due to her natural talent.
      </p>
      
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Inside Out 2</mat-card-title>
      <mat-card-subtitle>Genre:English</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <img
        class="imagDiv"
        mat-card-image
        src="images/inside out2.jpg"
        alt="Photo of Inside out2"
      />
      <p class="paragraphMovie">
        <br /><br />Overview:- <br />
        Joy, Sadness, Anger, Fear and Disgust have been running a successful
        operation by all accounts. However, when Anxiety shows up, they aren't
        sure how to feel.
      </p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Ajogya</mat-card-title>
      <mat-card-subtitle>Genre: Bengali</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <img
        class="imagDiv"
        mat-card-image
        src="images/ajogya.jpg"
        alt="Photo of ajogya"
      />
      <p class="paragraphMovie">
        <br /><br />
        Overview:- <br />
        Parna's crisis-ridden family has an unexpected guest - her stay-at-home
        husband Raktim's confidante - Prosen Mitra. Will Prosen usher in
        happiness, or will the middle-class couple descend into further chaos?
      </p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
</section>
<h1>Upcoming</h1>
<section class="flex">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>A Strange By The Hill</mat-card-title>
      <mat-card-subtitle>Genre: Hindi, Drama</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <img
        class="imagDiv"
        mat-card-image
        src="images/strange.jpg"
        alt="Photo of strange"
      />
      <p class="paragraphMovie">
        <br />
        <br />
        Overview :- <br />
        Mahi, A passionate young traveller, meets Angad, a young, charismatic
        teacher, in the beautiful hills of Manali. Instant sparks fly between
        them, leading to a passionate night of intimacy. But the fateful night
        soon unravels into a series of unforeseen incidents where Mahi finds
        herself trapped.6
      </p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Ishq Vishk Rebound</mat-card-title>
      <mat-card-subtitle>Genre: Hindi, Drama</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <img
        class="imagDiv"
        mat-card-image
        src="images/ishq.jpg"
        alt="Photo of a Shiba Inu"
      />
      <p class="paragraphMovie">
        <br />
        <br />
        Overview:- <br />
        Follows the lives of four young people who become enmeshed in a web of
        friendship, love, and self-discovery.
      </p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>JNU : Jahangir National University</mat-card-title>
      <mat-card-subtitle>Genre: Hindi, Drama</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <img
        class="imagDiv"
        mat-card-image
        src="images/jnu.jpg"
        alt="Photo of a Shiba Inu"
      />
      <p class="paragraphMovie">
          Overview:- <br>
        JNU depicts the story of a small towner Sourabh Sharma who is now a
        student of JNU. There he gets restless with the various activities of
        left-wing students who are anti-national and raises his voice against
        <!-- them. Sourabh finds Akhilesh Pathak(baba) as his charioteer who guides
        him on his path of opposing leftist domination in JNU. On this path
        Sourabh finds Richa as his life partner and a supporting force. Where
        left gang was remained untouched they were challenged heavily by Sourabh
        and right-wing which makes them restless as Sourabh enters the politics
        of JNU by winning one of their on-holding elections creating a history
        in JNU. Holding the post of one of the counselor, he opposes the anti-
        national agenda of leftists and supports the work in favour of students
        of JNU; Which makes him gain the popularity within the students. Sourabh
        with support of baba keeps opposing all their anti-national protests and
        the activity of love jihad happening in the institute. In 2014, Sourabh
        wins the election against the dominating left wing party on the position
        of joint secretary of the university; Breaking the entire ruling of left
        wing, which was supported by the administration of the university. In
        2019, while the ruling of Arushi Ghosh as president of JNU student union
        was announced by the government, to raise the fees of JNU students -
        opposed by the left wing students. The students supporting the fees hike
        were beaten badly which included ABVP students who were acting to
        protect them. Later, one night in JNU, ABVP students united and acted
        violently against left wing and that was supported by local bodies. -->
      </p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
</section>
