.img{
    display: flex;
    position: relative;
    direction: 1rem;
    justify-content: right;
}
.movieBooking{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    .imageM{
       
        width: 20px;
    }
}
.overAll {

    display: flex;
    justify-content: center;
    
    .centerBook {


        .seats {
            margin-bottom: 10px;
          }
          
          button {
            margin: 0 5px;
            padding: 5px 10px;
          }
          
          button.selected {
            background-color: green;
            color: white;
          }
          .confirmButton{
           display: flex;
         
         margin-left: 120px;
         margin-top: 30px;
          }
        
              
        .confirmButton button {
                padding: 12px 24px;
                background-color: #266fbd;
                color: white;
                border: none;
                cursor: pointer;
                font-size: 18px;
                transition: background-color 0.3s ease;
              }
              
        .confirmButton button:hover {
                background-color: #7c34b6;
              }
        
            }
            
}


.selection-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
button1{
  background: rgb(248, 237, 237);
  padding: .5rem;
  border-radius: 8px;
  outline: none;
  border: 1px solid grey;
  margin-left: 5px;
  margin-top: 20px;
  margin-bottom: 2px;
  
}
button1:hover {
  background: rgb(96, 88, 206);
  padding: .5rem;
  border-radius: 8px;
  outline: none;
  border: 1px solid grey;
}
@media (max-width: 768px) {
  .overAll {
    width: 90%;
  }
}