.img{
    display: flex;
    position: relative;
    direction: 1rem;
    justify-content: right;
}
.movieBooking{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    .imageM{
       
        width: 0px;
        
    }
}
.overAll {

    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(48, 46, 46);
    margin-right: 100px;
    .centerBook {


        .seats {
            margin-bottom: 10px;
          }
          
          button {
            margin: 0 5px;
            padding: 5px 10px;
          }
          
          button.selected {
            background-color: green;
            color: white;
          }
          .confirmButton{
           display: flex;
         
          margin-left: 120px;
          margin-top: 30px;
          }
        
              
        .confirmButton button {
                padding: 12px 24px;
                background-color: #266fbd;
                color: white;
                border: none;
                cursor: pointer;
                font-size: 18px;
                transition: background-color 0.3s ease;
              }
              
        .confirmButton button:hover {
                background-color: #7c34b6;
              }
        
            }
            
}


.selection-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
button1{
  background: rgb(71, 52, 52);
  padding: .5rem;
  border-radius: 8px;
  outline: none;
  border: 1px solid rgb(78, 40, 40);
  margin-left: 5px;
  margin-top: 20px;
  margin-bottom: 2px;
  color: white;
}
button1:hover {
  background: rgb(96, 88, 206);
  padding: .5rem;
  border-radius: 8px;
  outline: none;
  border: 1px solid grey;
}
.available-seat {
  background-color: #4caf50;
  color: white;
}

.booked-seat {
  background-color: #f44336;
  color: white;
  cursor: not-allowed;
}

.selected-seat {
  background-color: #ffeb3b;
  color: black;
}
@media (max-width: 768px) {
  .overAll {
    width: 90%;
  }
}