<br><div class="btn-1">&nbsp; &nbsp;
    <button1 routerLink="/login">Go Back</button1>
</div>
<br><br><br><br><br><br><br><div class="reset-password-container ">
    <h2>Reset Password</h2>
    <form (ngSubmit)="resetPassword()">
      <div>
        <label for="newPassword">New Password:</label>&nbsp;
        <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
      </div><br>
      <button type="submit">Reset Password</button>
    </form>
  </div><br><br><br><br><br>