<div class="container">
  <div class="row">
      <div class="col-md-6">
      <div class="card">
        <div class="text-center">
         <div class="img" style="margin-left: 100px;">
          <!-- <img src="images/Login.png" alt="login.png"> -->
           <h1 style="width: max-content;">Hello, Users.</h1> 
           <h6 >Welcome back.</h6>
           <p style="width: max-content;">Please enter email & password.</p>
         </div>


          <div class="loginForm">
          <h1 style="margin-left: 300px;">Login</h1>
          
        <form (ngSubmit)="login()" style="margin-left: 300px;">
    <div *ngIf="loginError" class="error-message">{{ loginError }}</div>
    <div>
      <label for="email">Email<span>*</span>:</label>
      <input type="email" id="email" name="email" [(ngModel)]="Email" required>
    </div><br>
    <div>
      <label for="password">Password<span>*</span>:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div><br>
    <div>
      <button type="submit" class="btn btn-primary mb-2">Login</button>
    </div><br>
    <a routerLink="/signup">Not Registered? Click to SignUp</a><br>
    <a routerLink="/adminLogin" style="color: red;">Sign In if you are the Admin</a>
  </form>
        </div>
        </div>
      </div>
 

