
.card{
  
    border: none;
    width: 1000px;
    padding: 40px;
    position: relative;
    top: 5%;
    left: 50%;
    margin-bottom: 200px;
    transform: translate(-50%,50%);
   
    
    
}



.text-center {
    display: flex;
   
    span{
        color: red;
    }
    img{
        width: 100%;
    }
    .loginForm {
        width: 100%;
    }
}
