
      <div class="card">
        <div class="text-center">
         <div class="img">
          <img src="images/Login.png" alt="login.png">
         </div>

          <div class="loginForm">
          <h1>Login</h1>
          <h6>Please enter email & password !!</h6>




  <form (ngSubmit)="login()">
    <div *ngIf="loginError" class="error-message">{{ loginError }}</div>
    <div>
      <label for="username">Library_ID<span>*</span>:</label>
      <input type="text" id="username" name="username" [(ngModel)]="library_id" required>
    </div><br>
    <div>
      <label for="password">Password<span>*</span>:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div><br>
    <div>
      <button type="submit">Login</button>
    </div><br>
    <a routerLink="/signup">Not Registered? Click to SignUp</a>
  </form>
        </div>
        </div>
      </div>
 

