<!-- <div class="col-3">
  <div *ngIf="selectedState === 'Agartala'" class="bg-primary"></div>
</div> -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="details">xlayerMovies</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="movie-list">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="aboutUs">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Contact Us</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="details">Movie Details</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="bookingHist">Bookings</a>
        </li>
      </ul>
      <div class="col-3">
        <div style="display: flex; align-items: center">
          <mat-form-field appearance="outline">
            <mat-label>State</mat-label>
            <mat-select [(ngModel)]="selectedState" (click)="onChangeState()">
              <mat-option *ngFor="let state of stateList" [value]="state.value">
                {{ state.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <ul
        class="navbar-nav me-5 my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="login"><button>Login</button></a>
        </li> -->


        <li *ngIf="!isLoggedIn"><a class="nav-link" routerLink="login"><button>Login</button></a></li>
        <li *ngIf="isLoggedIn" (mouseover)="showProfileDropdown = true" (mouseleave)="showProfileDropdown = false">
          <a href="javascript:void(0)">My Profile</a>
          <ul *ngIf="showProfileDropdown">
            <li><a href="javascript:void(0)">Email: {{ userProfile.email }}</a></li>
            <li><a href="javascript:void(0)">Name: {{ userProfile.name }}</a></li>
            <li><a href="javascript:void(0)">Phone: {{ userProfile.phone }}</a></li>
            <li><a (click)="logout()" href="javascript:void(0)"><button>Logout</button></a></li>
          </ul>
        </li>
    
        
        <!-- <li class="nav-item">
        <a class="nav-link" routerLink="profile">Profile</a>
      </li> -->
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- 
<footer>
  <div class="icons">
      <span class="innerIcon"> -->
        <!-- <img src="assets/meta.jpg" class="icon" alt="twitter" /> -->
        <!-- <img src="images/fb.png" class="icon" alt="facebook" />
        <img src="images/you.png" class="icon" alt="youtube" />
        <img src="images/ins.png" class="icon" alt="instagram" />
      </span>
  </div>
  <div class="footerFlex">
    <div>
      <div class="iconText">
        <img src="images/call.png" alt="called" class="icon" />
        <h4>CONTACT US</h4>
      </div>
      <h2>XLAYER MOVIE TEAM</h2>
      <p class="flexSpan">
        <span>IT BHAWAN, 5th floor</span>
        
        <span>Tripura, India</span> -->
        <!-- <span class="flex">
          <span><b>Tel Fax:</b></span>
          <span>+91 9366876540</span>
        </span> -->
        <!-- <span class="flex">
          <span><b>Phone No:</b></span>
          <span>+91 9867843210</span>
        </span>
        <span class="flex">
          <span><b>Email:</b></span>
          <span>xlayerMoviesTeam&#64;gmail.com </span>
        </span>
      </p>
    </div>

    <div>
      <h2>Office at Tripura</h2>
      <p class="flexSpan">
        <span> 5th Floor, IT Bhavan Agartala, Tripura 799006 </span>
        <span class="flex"> -->
          <!-- <span>
            <img src="assets/call.jpg" alt="call" class="icon"/>
          </span> -->
          <!-- <span>+91 9233107174</span> -->
          <!-- <span>
            <img src="assets/call.jpg" alt="call" class="icon"/>
          </span> -->
          <!-- <span>contact&#64;xlayer.in</span>
        </span> -->


          <!-- <span class="imgAG">
            <img src="" alt="call" class="gpAp"/>
            <img src="" alt="call" class="gpAp"/>
          </span> -->
<!-- 
      </p>
    </div>



  </div>
  <span class="lastCopy">Copyright©xLayer Technologies Private Limited 2024</span>
</footer> -->
