a:hover{
  background-color: rgb(120, 24, 199);
  color: #fff;
  visibility: visible;
  border-radius: 20px;

}
a{
  visibility: hidden;
}
i{
  visibility: visible;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-details {
  margin-top: 10px;
  text-align: center;
  background-color: #fff;
}

footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
}

footer h2 {
  font-size: 1.7rem;
  font-family: Arial, Helvetica, sans-serif;
}

footer span {
  font-size: 1rem;
}

footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .flexSpan {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

footer .flexSpan .flex {
  display: flex;
  align-items: center;
  gap: .2rem;
}

footer .flexSpan .flex .icon {
  width: 25px;
}

footer .flexSpan .imgAG {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

footer .flexSpan .imgAG .gpAp {
  width: 300px;
}

footer img {
  background-color: #fff;
}

footer .footerFlex {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}

footer .innerIcon {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 10px;
}

footer .innerIcon .icon {
  width: 70px;
  height: 70px;
}

footer .innerIcon .icon:last-child {
  width: 50px;
  height: 50px;
}

footer .iconText {
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer .iconText .icon {
  width: 50px;
  color: white;
}

footer .lastCopy {
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  color: white;
  background: rgba(183, 176, 176, 0.6);
}

button {
  background-color: rgb(89, 51, 160);
  color: white;
}

button:hover {
  background-color: rgb(167, 66, 158);
  color: white;
}

.navbar .profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navbar .profile-image-lg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px 0;
}

.navbar .dropdown-menu {
  background-color: #fff;
  border: 1px solid #ccc;
}

.navbar .dropdown-menu .dropdown-item-text {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footerFlex {
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
}

