<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=""><i class="ri-home-fill">xlayerMovies</i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
 
    <div class="collapse navbar-collapse" id="navbarScroll">
      <header>
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
     
        <li class="nav-item">
          <a class="nav-link" routerLink="movie-list"><i class="ri-clapperboard-fill"></i>Movies</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="contact"><i class="fa fa-fw fa-envelope"></i>Contact Us</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" routerLink="bookingHist"><i class="ri-history-line"></i>Bookings</a>
        </li>
      </ul>
  
    </header>
     </div>
      <ul class="navbar-nav me-4 my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 300px;">
        <li *ngIf="!isLoggedIn"><a class="nav-link" routerLink="login"><i class="fa fa-fw fa-user"></i>Login</a></li>
        <div class="profile" *ngIf="isLoggedIn">
          <img class="profile-picture" src="images/xlayer.png" alt="Profile Picture" (click)="showProfileDetails =! showProfileDetails">
          <div class="profile-details" *ngIf="showProfileDetails">
            <h2>{{ userProfile.name }}</h2>
            <p>Email: {{ userProfile.email }}</p>
            <p>Phone: {{ userProfile.phone }}</p>
            <button (click)="logout()">Logout</button>
          </div>
        </div>
      </ul>
   
  </div>
</nav>

<div style="background-color: rgb(46, 43, 43);">
  <header *ngIf="!(authService.isAdmin$ | async)"></header>
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="icons">
      <span class="innerIcon">
        <!-- <img src="images/faceb.png" class="icon" alt="facebook" />
        <img src="images/you.png" class="icon" alt="youtube" />
        <img src="images/instag.png" class="icon" alt="instagram" /> -->
        <a href="https://facebook.com/xlayercom" class="s_share_facebook" target="_blank" data-original-title="" title="">
          <i class="ri-facebook-line rounded shadow-sm" data-original-title="" title="" aria-describedby="tooltip455382" style="color: white;"></i>
        </a>
        <a href="https://twitter.com/xlayercom" class="s_share_twitter" target="_blank" data-original-title="" title="">
          <i class="ri-twitter-line rounded-circle rounded shadow-sm" data-original-title="" title="" aria-describedby="tooltip690058" style="color: white;"></i>
        </a>
        <a href="https://in.linkedin.com/company/xlayercom" class="s_share_linkedin" target="_blank" data-original-title="" title="">
          <i class="ri-linkedin-line rounded-circle rounded shadow-sm" data-original-title="" title="" aria-describedby="tooltip983117" style="color: white;"></i>
        </a>
      </span>
  </div>
  <div class="footerFlex">
    <div>
      <div class="iconText">
        <img src="images/call.png" alt="called" class="icon" />
        <h4>CONTACT US</h4>
      </div>
      <h2>XLAYER MOVIE TEAM</h2>
      <p class="flexSpan">
        <span>IT BHAWAN, 5th floor</span>
        <span>Tripura, India</span>
        <span class="flex">
          <span><b>Tel Fax:</b></span>
          <span>+91 9366876540</span>
        </span>
        <span class="flex">
          <span><b>Phone No:</b></span>
          <span>+91 9867843210</span>
        </span>
        <span class="flex">
          <span><b>Email:</b></span>
          <span>xlayerMoviesTeam&#64;gmail.com </span>
        </span>
      </p>
    </div>

    <div>
      <h2>Office at Tripura</h2>
      <p class="flexSpan">
        <span> 5th Floor, IT Bhavan Agartala, Tripura 799006 </span>
        <span class="flex">
          <span>
            <img src="images/call.png" alt="call" class="icon"/>
          </span>
          <span>+91 9233107174</span>
          <span>
            <img src="images/call.png" alt="call" class="icon"/>
          </span>
          <span>contact&#64;xlayer.in</span>
        </span>
      </p>
    </div>
  </div>
  <span class="lastCopy">Copyright©xLayer Technologies Private Limited 2024</span>
</footer>
