.example-card {
    max-width: 400px;
  }
  
  // .example-header-image {
  //   background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  //   background-size: cover;
  // }
    .example-card :hover{
      background-color: crimson;
      transition: 0.5s;
      transform: translate(0,-40px);
      z-index: 1;
    }
    
    
    .flex{
      gap: 2rem;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      flex-wrap: wrap;
  
    }
    h1{
      margin-top: 30px;
    }
    .imagDiv{
      width: 100%;
    }
  
    .paragraphMovie{
      visibility: hidden;
      &:hover {
        display: contents;
        position: relative;
      }
      
    } 
  
    .example-card {
      position: relative; 
      overflow: hidden; 
    }
    
    .example-card:hover .paragraphMovie {
      visibility: visible; /* Show text on hover */
    }
    




nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

.profile-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  display: none;
}

.profile-dropdown.active {
  display: block;
}

.profile {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  width: 200px;
}

.profile h3 {
  margin-top: 0;
}

.profile p {
  margin-bottom: 5px;
}


.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.default-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
  color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

   
    