

.movie-details {
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin-top: 10px;
  }
  
  .movie-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .movie-details img {
    max-width: 100%;
    width: 100%;
    height: 40vh;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .movie-details p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 8px;
  }
  
  .movie-details .details-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  
  .movie-details .details-label {
    font-weight: bold;
    color: #333;
  }
  
  .movie-details .details-value {
    flex: 1;
    text-align: right;
  }
  h2 {
    text-align: center;
  }
  button {
    background: rgb(248, 237, 237);
    padding: .5rem;
    border-radius: 8px;
    outline: none;
    border: 1px solid grey;
    margin-left: 600px;
    margin-top: 20px;
    
    
  }
  button:hover {
    background: rgb(96, 88, 206);
    padding: .5rem;
    border-radius: 8px;
    outline: none;
    border: 1px solid grey;
  }
  button1{
    background: rgb(248, 237, 237);
    padding: .5rem;
    border-radius: 8px;
    outline: none;
    border: 1px solid grey;
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 2px;
    
  }
  button1:hover {
    background: rgb(96, 88, 206);
    padding: .5rem;
    border-radius: 8px;
    outline: none;
    border: 1px solid grey;
  }
  