<div class="btn-1">
    <button routerLink="/adminDashboard">Go Back</button>
</div>
<div class="btn" style="margin-left: 1500px;">
    <button routerLink="/admin/movies/add">Add Movie</button><br><br>
    <button routerLink="/admin/movies/edit/:id">Edit Movie</button>
</div>
<div class="container">
    <h2>Delete Movies</h2>

    <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" formControlName="title" />
      </div><br>
      
      <button type="submit">Delete Movie</button>
    </form>
  </div><br><br>
  