.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24,
 

}
#add, #remove {
  cursor: pointer;
}








.bookNow {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    .formField {
      display: flex;
      flex-direction: column;
      gap: 16px;
      
      .name,
      .mobile,
      .email,
      .date,
      .time,
      .select {
        display: flex;
        flex-direction: column;
        gap: 12px;
        .mat-form-field {
          width: 100%;
          
          input.mat-input,
          select {
            font-size: 16px; // Maintain font size
            padding: 1rem; // Set padding to 1rem
            border-radius: 15px;
            border: 1px solid #ccc;
            background-color: #fff;
            transition: border-color 0.3s ease;
            
            &:focus {
              outline: none;
              border-color: #5c6ac4; 
            }
          }
          
          mat-label {
            font-weight: bold;
            margin-bottom: 4px;
          }
        }
      }
      .name input, .mobile input, .email input, .select select, select option{
        padding: 1rem;
      }
      .total {
        font-weight: bold;
        font-size: 18px;
        
        span {
          color: #5c6ac4; // Example total color
        }
      }

      .payButton{
         display: flex;
         justify-content: center;
         .pay {
          text-decoration: none;
          width: 50%;
          padding: 12px;
          background-color: #5c6ac4; // Example pay button color
          color: #fff;
          text-align: center;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s ease;
          
          &:hover {
            background-color: #4754a0; // Darker shade on hover
          }
        }
      }
      
     
    }

    .space {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .quantity {
        display: flex;
        justify-content: center;
        background: white;
        border-radius: 5px;
        width: 25%;
        span {
          justify-content: center;
          padding: .8rem;
        }

      }
    }

  }